<div class="col mb-5">
    <div class="card h-100">
        <!-- Product image-->
        <img class="card-img-top" src="pictures/hot_rocks_cropped.jpg" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">Hot Rocks & Mud Bath</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                </div>
                <!-- Product price-->
                $120.00
            </div>
        </div>

        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" data-bs-toggle="modal"
                    data-bs-target="#modal4">View Details</a></div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <a class="btn btn-secondary mt-auto" id="click-schedule-deep-tissue">Schedule</a>
            </div>
        </div>
        <script>
            document.getElementById('click-schedule-deep-tissue').addEventListener('click', function () {
                window.open('https://calendly.com/pavlovic-nfg/basic-30min', '_blank', 'noopener');
            });
        </script>

        <!-- Modal -->
        <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Hot Rocks & Mud Bath</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            A hot stone massage is a therapeutic experience that combines traditional massage techniques
                            with the application of heated stones to promote relaxation and alleviate muscle tension.
                            During a hot stone massage, smooth, heated stones are strategically placed on the body,
                            enhancing the effects of the massage by warming and loosening tight muscles. The therapist
                            may also use the heated stones as an extension of their hands, applying gentle pressure to
                            specific areas. The combination of heat and massage encourages improved blood flow, reduced
                            stress, and a heightened sense of well-being. Hot stone massages are known for their ability
                            to soothe both the body and mind, providing a luxurious and deeply relaxing spa experience.
                        </p>
                        <p>
                            A mud bath is a spa therapy that involves immersing the body in a combination of natural
                            mineral-rich mud and warm water. This treatment has been embraced for centuries for its
                            potential health and wellness benefits. Typically administered in a specialized mud bath
                            facility, the process begins with the application of warm mud to the body, allowing the skin
                            to absorb the minerals and nutrients found in the mud.
                        </p>
                        <p>
                            The mud used in these baths often contains a variety of minerals such as sulfur, magnesium,
                            and calcium, which are believed to have therapeutic properties. As the mud dries on the
                            skin, it is thought to draw out impurities and toxins while simultaneously nourishing and
                            hydrating the skin. The warmth of the mud also helps to relax muscles and joints, promoting
                            a sense of relaxation and stress relief.
                        </p>
                        <p>
                            After the mud has dried, individuals typically rinse off in warm water or take a warm shower
                            to remove the mud. This process is often followed by additional spa treatments or relaxation
                            activities to enhance the overall experience.
                        </p>
                        <p>
                            Mud baths are sought after for their potential to improve skin texture, detoxify the body,
                            and alleviate muscle tension. Beyond the physical benefits, many individuals find the
                            experience to be deeply soothing and mentally rejuvenating. While mud baths are considered
                            safe for most people, individuals with certain medical conditions should consult with a
                            healthcare professional before undergoing this spa therapy.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        <button type="button" class="btn btn-success" id="click-schedule-deep-tissue">
                            Schedule
                        </button>
                        <script>
                            document.getElementById('click-schedule-deep-tissue').addEventListener('click', function () {
                                window.open('https://calendly.com/pavlovic-nfg/basic-30min', '_blank', 'noopener');
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>